<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
         <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python37\python.exe|&quot;C:\inetpub\wwwroot\PSIOT\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	
<appSettings>
		<remove name="PYTHONPATH" />
		<remove name="WSGI_HANDLER" />
       <!-- Required settings -->	    
       <add key="WSGI_HANDLER" value="run.app" />
       <add key="PYTHONPATH" value="C:\inetpub\wwwroot\PSIOT" />
       <add key="WSGI_LOG" value="C:\inetpub\wwwroot\PSIOT\log\weblogwfastcgi.log" />
       <add key="SCRIPT_NAME" value="/PSIOT" />
       <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
</appSettings>

</configuration>
